/* Navbar */
.navbar {
	height: 100%;
}

.navbar ul {
	background-color: rgba(0, 0, 0, 0.1);
	margin-top: 10px;
}

.navbar ul li {
	margin-left: 0;
	padding: 10px;
}

/* Showcase */
.showcase {
	height: 100%;
	text-align: center;
}

.showcase-text {
	padding-top: 20px;
	padding-right: 0;
	padding-bottom: 40px;
	animation: slideInFromTop 1s ease-in;
}

.showcase-form {
	animation: slideInFromBottom 1s ease-in;
}

/* Features */
#stats {
	padding-top: 60px;
}

#stats .txt-large {
	width: 100%;
}

/* Cli */
.cli .grid {
	grid-template-columns: repeat(1, 1fr);
}

/* Cloud */
.cloud .flex-box-2 {
	padding-top: 20px;
	margin-bottom: 20px;
}

/* Languages */
.languages {
	text-align: center;
}

/* Title */
.title {
	text-align: center;
}

.title img {
	width: 120px;
	margin: 0 auto;
}

/* Subtitle */
.subtitle {
	text-align: center;
}

/* Features */
.features .grid {
	grid-template-columns: repeat(1, 1fr);
}

.features .card:nth-child(1),
.features .card:nth-child(2),
.features .card:nth-child(3),
.features .card:nth-child(4),
.features .card:nth-child(5),
.features .card:nth-child(6) {
	grid-column: 1;
}
.features .card:nth-child(1) {
	grid-row: 1;
}
.features .card:nth-child(2) {
	grid-row: 2;
}
.features .card:nth-child(3) {
	grid-row: 3;
}
.features .card:nth-child(4) {
	grid-row: 4;
}
.features .card:nth-child(5) {
	grid-row: 5;
}
.features .card:nth-child(6) {
	grid-row: 6;
}

/* Docs */
.docs .grid {
	grid-template-columns: 1fr;
}

/* Footer */
#mainfooter .flex-box-1 {
	padding-bottom: 20px;
}

/* Flex */
.flex {
	flex-direction: column;
}

/* Padding */
.py-4 {
	padding: 1rem 0;
}

/* Width */
.w-50 {
	width: 100%;
}
