@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {
	--main-color: #047aed;
	--secondary-color: #09213e;
	--gray-color: #f4f4f4;
	--alert-color: #5cb85c;
}

/* Reset */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Main Styling */
html,
body {
	font-family: 'Lato', sans-serif;
	color: #333;
	line-height: 1.6;
}

h1,
h2 {
	font-weight: 300;
	line-height: 1.2;
	margin: 10px 0;
}

p {
	margin: 10px 0;
	font-weight: 300;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #333;
}

img {
	max-width: 100%;
}

pre,
code {
	background: #333;
	color: #fff;
	padding: 10px;
}

/* Utility Classes */
.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 30px;
}

.display-1 {
	font-size: 3rem;
}

.display-2 {
	font-size: 2.5rem;
}

.txt-large {
	font-size: 20px;
}

.txt-white {
	color: #fff;
}

.txt-center {
	text-align: center;
}

.card {
	border-radius: 10px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	padding: 20px;
	margin: 10px;
}

/* Padding */
.py-1 {
	padding: 1rem 0;
}
.py-2 {
	padding: 1.5rem 0;
}
.py-3 {
	padding: 2rem 0;
}
.py-4 {
	padding: 3rem 0;
}
.py-5 {
	padding: 4rem 0;
}

.p-1 {
	padding: 1rem;
}
.p-3 {
	padding: 2rem;
}

/* Backgrounds */
.bk-main {
	background-color: var(--main-color);
}
.bk-secondary {
	background-color: var(--secondary-color);
}
.bk-white {
	background-color: #fff;
}
.bk-gray {
	background-color: var(--gray-color);
}
.bk-alert {
	background-color: var(--alert-color);
}
.bk-home {
	background: url('/images/bk-showcase.jpg');
}
.bk-features {
	background: url('/images/bk-features.jpg');
}
.bk-docs {
	background: url('/images/bk-docs.jpg');
}
.bk {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/* Flex */
.flex {
	display: flex;
}

.flex-box {
	flex: 1;
}

.flex-box-2 {
	flex: 2;
}

/* Grid */
.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	justify-content: center;
	align-items: center;
	height: 100%;
}

/* Width */
.w-50 {
	width: 50%;
}

/* Button */
.btn {
	display: inline-block;
	padding: 10px 30px;
	cursor: pointer;
	border: none;
	border-radius: 5px;
}

.btn-outline {
	border: 1px #fff solid;
	color: #fff;
}

.btn-main {
	background-color: var(--main-color);
	color: #fff;
}

.btn-dark {
	background-color: var(--secondary-color);
	color: #fff;
}

/* Navbar */
.navbar {
	height: 80px;
	font-weight: 300;
	padding: 15px;
}

.navbar a {
	color: #fff;
}

.navbar .logo {
	font-size: x-large;
}

.navbar .container {
	justify-content: space-between;
	align-items: center;
}

.navbar ul {
	display: flex;
}

.navbar ul li {
	margin-left: 20px;
}

.navbar ul a:hover {
	border-bottom: 2px #fff solid;
	padding-bottom: 5px;
}

/* Showcase */
.showcase {
	height: 400px;
	position: relative;
}

.showcase-text {
	padding-top: 40px;
	padding-right: 50px;
	animation: slideInFromLeft 1s ease-in;
}

.showcase-form {
	animation: slideInFromRight 1s ease-in;
	z-index: 2;
}

.showcase::before,
.showcase::after {
	content: '';
	position: absolute;
	height: 100px;
	bottom: -60px;
	right: 0;
	left: 0;
	background: #fff;
	transform: skewY(-3deg);
	-webkit-transform: skewY(-3deg);
	-moz-transform: skewY(-3deg);
	-ms-transform: skewY(-3deg);
}

.showcase-form form {
	padding: 20px 60px 40px 60px;
}

.showcase-form h2 {
	text-align: center;
	padding-top: 30px;
}

form .form-group {
	margin-bottom: 16px;
}

form .form-control {
	display: block;
	width: 100%;
	padding: 7px 0;
	line-height: 1.5;
	color: #495057;
	background: #fff;
	border: none;
	border-bottom: 1px solid #ced4da;
}

/* Stats */
#stats {
	text-align: center;
	padding-top: 100px;
}

#stats .txt-large {
	width: 50%;
	margin: 0 auto;
	padding-bottom: 50px;
}

/* CLI */
.cli .grid {
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

.cli .grid img {
	grid-column: 1 / span 2;
	grid-row: 1 / span 2;
}

/* Cloud */
.cloud {
	margin-top: 50px;
}

.cloud .flex-box-2 {
	text-align: center;
	padding-top: 40px;
}

/* Languages */
.languages h2,
.languages h4 {
	padding-bottom: 10px;
}

/* Title */
.title .flex {
	justify-content: space-between;
}

/* Subtitle */
.subtitle .flex {
	justify-content: space-between;
	align-items: center;
}

/* Features */
.features .grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}

.features .flex {
	justify-content: center;
	align-items: center;
}

.features .flex i {
	padding-right: 20px;
}

.features .card:nth-child(1) {
	grid-column: 1/4;
	grid-row: 1;
}
.features .card:nth-child(2) {
	grid-column: 1/3;
	grid-row: 2;
}
.features .card:nth-child(3) {
	grid-column: 3;
	grid-row: 2;
}
.features .card:nth-child(4) {
	grid-column: 1;
	grid-row: 3;
}
.features .card:nth-child(5) {
	grid-column: 2;
	grid-row: 3;
}
.features .card:nth-child(6) {
	grid-column: 3;
	grid-row: 3;
}

/* Docs */
.docs .grid {
	grid-template-columns: 1fr 2fr;
	align-items: flex-start;
}

.docs h3,
ul {
	font-weight: 300;
}

.docs h3 {
	margin: 20px 0;
}

.docs ul li {
	border-bottom: 1px #ccc solid;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.docs .bk-alert i {
	padding-right: 10px;
}

/* Footer */
#mainfooter ul li a {
	color: #fff;
}

#mainfooter .social i {
	color: #fff;
	padding-right: 15px;
}

/* Animations */
@keyframes slideInFromLeft {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes slideInFromRight {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}
